<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mattprecious.smsfix"
      android:versionCode="19" android:versionName="2.3.9">
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="com.mattprecious.smsfix.library.SMSFix"
                  android:label="@string/app_name">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
		<activity android:name="com.mattprecious.smsfix.library.LogNote"
		    	  android:theme="@android:style/Theme.Dialog" />
        
        <activity android:name="com.mattprecious.smsfix.library.About" android:label="@string/about_title"></activity>
        
        <service android:name="com.mattprecious.smsfix.library.FixService"/>
        
		<receiver android:name="com.mattprecious.smsfix.library.Receiver">
			<intent-filter>
				<action	android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action	android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" android:path="com.mattprecious.smsfix" />
			</intent-filter>
		</receiver>
		
		<receiver android:name="com.mattprecious.smsfix.library.LogRolloverReceiver">
		    <intent-filter>
		        <action android:name="com.mattprecious.smsfix.library.INTENT_LOG_ROLLOVER" />
		    </intent-filter>
		</receiver>
	    
	</application>
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11" />
    
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	
</manifest> 